email=rahulnjavakkattu@gmail.com
#always-auth=true
#//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
#registry=http://172.31.44.121:9980/ms/repository/nodejs-rns/
//172.31.44.121:9980/ms/repository/nodejs-rns/:_auth=YWRtaW46ZGV2b3Bz
allowRepublish=true
